{% extends 'layouts/base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<section class="indexlist">
    <ul>
        {% for item in items %}
            {% if item[2] == True %}
            <li class="completed">Task: {{ item[1] }}, Completed: {{ item[2] }}, Created: {{ item[3] }}</li>
            {% else %}
            <li>Task: {{ item[1] }}, Completed: {{ item[2] }}, Created: {{ item[3] }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

{% endblock %}