{% extends 'layouts/base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<section class="indexlist">
    <ul>
        {% for item in items %}
            {% if item[2] == True %}
            <li class="completed">Task: {{ item[1] }}, Completed: {{ item[2] }}, Created: {{ item[3] }}</li>
            {% else %}
            <li>Task: {{ item[1] }}, Completed: {{ item[2] }}, Created: {{ item[3] }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
<section class="queryform">
    <form method="post">
        <label>
            See All
            <input type="radio" value="All" name="action" id="all" {% if action == "All" %}checked{% endif %}>
        </label>
        <label>
            Completed
            <input type="radio" value="Completed" name="action" id="completed" {% if action == "Completed" %}checked{% endif %}>
        </label>
        <label>
            Uncompleted
            <input type="radio" value="Uncompleted" name="action" id="uncompleted" {% if action == "Uncompleted" %}checked{% endif %}>
        </label>

        <input type="submit" value="Sort" id="indexbutton">
    </form>
</section>

{% endblock %}