{% extends 'layouts/base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<section class="indexlist">
    <ul>
        {% for item in items %}
            {% if item.is_completed %}
            <li class="completed">Task: {{ item.task }}, Completed: {{ item.is_completed }}, Created: {{ item.datetime_created }}</li>
            {% else %}
            <li>Task: {{ item.task }}, Completed: {{ item.is_completed }}, Created: {{ item.datetime_created }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

{% endblock %}