<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        {% block head %}
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="static/styles.css" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>To-Do List</h1>
            {% block nav %}
            <nav>
                <a href="/">Home</a>
                <a href="/create">Create</a>
                <a href="/update">Update</a>
            </nav>
            {% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>